# REMOVED: .dockerignore removed in branch 'remove-docker'.
# To delete locally: git rm .dockerignore && git commit -m "chore: remove Docker files" && git push -u origin remove-docker
.gradle
**/build
**/.gradle
/local.properties
/.idea
/.vscode
*.iml
*.keystore
google-services.json
google-services-dev.json
.git
